<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Carousel</title>
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>
<body>
	<header>

	</header><!-- /header -->
	<div id="scene">

	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="./dist/components.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>